{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    Welcome to the administration of your resume.
                </div>
            </div>
        </div>
    </div>
{% endblock %}